* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
html {
  background-color: #212121;
  font-size: 62.5%;
}

/* COMMON CSS */
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.flex-col {
  flex-direction: column;
}
.align-center {
  align-content: center;
}
.items-center {
  justify-content: center;
}

.flex-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-4 {
  gap: 1.6rem;
}
.text-xl {
  color: #742ad3;
  font-size: 5rem;
  font-weight: 700;
}

.icon {
  width: 4rem;
  height: 2rem;
}

.text-white {
  color: white;
}
.flex-end {
  justify-content: end;
}

.flex-end {
  justify-content: flex-end;
}

.space-y-4 {
  margin: 3rem 0;
}

w-full {
  width: 100%;
}

.color-primary {
  color: #742ad3;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #6231a2; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}

/* HERO SECTION */
.hero {
  margin: auto;
  width: 100%;
  height: 100vh;
}
.hero-left {
  background-color: #742ad3;
  min-width: 40%;
  padding: 2rem;
  padding-left: 5rem;
  position: relative;
}

.hero-left > img {
  min-width: 400px;
  max-height: 410px;
  border-radius: 50%;
  border: 15px solid #742ad3;
  position: absolute;
  left: 30rem;
  bottom: 11rem;
  object-fit: cover;
}

.hero-left > p {
  color: #212121;
  font-size: 4rem;
  font-weight: bold;
}
.social {
  width: 80%;
  height: 5rem;
}

.icon {
  /* font-size: 50px; */
  width: auto;
  color: #212121;
  transition: all 300ms ease-in-out;
}

.icon:hover {
  cursor: pointer;
  color: #f0f0f0;
}
.hero-right {
  color: white;
  padding: 1rem 5rem 2rem 22rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: justify;
  margin: auto;
}
.hero-right > div {
  margin: 2rem 0;
}
.hero-right > div > button {
  padding: 1.5rem 3rem;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 1rem;
  outline: none;
  border: none;
}
#download-btn {
  border: 4px solid #742ad3;
  color: #742ad3;
  background-color: #212121;
  transition: all 300ms;
}

#download-btn:hover {
  border: 4px solid white;
  background-color: white;
  color: #212121;
  cursor: pointer;
}
#contact-btn {
  border: 4px solid #742ad3;
  color: #212121;
  background-color: #742ad3;
  transition: all 300ms;
}
#contact-btn:hover {
  border: 4px solid white;
  color: white;
  background-color: #212121;
  cursor: pointer;
}

.highlighted {
  color: #742ad3;
  font-weight: 700;
}
/* EDUCATION SECTION */

#education {
  width: 100%;
  padding: 2rem 5rem;
}

.education-card {
  padding: 10px;
  background-color: #742ad3;
  width: 50%;
  border-radius: 10px;
  margin: 20px 0;
  transition: all 300ms;
}
.education-card:hover {
  background-color: #773cc3;
}

.edu-card-icon {
  width: 10rem;
  height: 10rem;
  /* background-color: #742ad3; */
  border-radius: 50%;
}

.edu-card-icon > img {
  /* background-color: #742ad3; */
  padding: 20px 12px;
  border: 2px solid white;
  border-radius: 50%;
}

.edu-text {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

/* SKILLS */
#Skills {
  padding: 10rem;
}

.skill-card {
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 4rem #742ad3;
  margin: 1rem;
  overflow: hidden;
}

.skill-card > img {
  max-width: 10rem;
  max-height: 10rem;
}

.skill-card > P {
  font-size: 2.5rem;
}
/* PORJECT SECTION */

.project-card {
  width: 24%;
  background-color: #6231a2;
  border-radius: 10px;
  padding: 10px;
}

.project-card > p {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

/* BLOG CARD */
.blog-card {
  width: 30%;
  background-color: #6231a2;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem 0;
}

.blog-card > img {
  max-width: 100%;
}
.blog-card > div {
  padding: 10px;
}
.blog-card > div > p {
  margin: 1rem 0;
}
.blog-card > div :nth-child(1) {
  font-size: 1.5rem;
  font-weight: 500;
}
.blog-card > div :nth-child(3) {
  font-size: 1rem;
}
.blog-card > div :nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
}
/* CONTACT FORM */
#contact-form > div > label {
  color: #742ad3;
  font-size: 30px;
  display: block;
  width: 100%;
  font-weight: 600;
}

#contact-form > div > input,
#contact-form > div > textarea {
  padding: 10px;
  background-color: #212121;
  border: 3px #742ad3 solid;
  border-radius: 10px;
  width: 100%;
  outline: none;
  color: #742ad3;
  margin: 1rem 0;
}
#contact-info {
  padding: 20px;
  background-color: #6231a2;
  width: 50%;
}

#contact-form {
  width: 50%;
  border-top: 2px solid #6231a2;
  padding: 2rem;
}

#contact-info > div > img {
  max-width: 6rem;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

#contact-info > div > p {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}

footer {
  max-height: 35frem;
  overflow: hidden;
}
